@import url("https://fonts.googleapis.com/css2?family=Jost&family=Work+Sans:wght@200&display=swap");
body {
  background-color: dodgerblue;
  font-family: "Jost", sans-serif;
  font-family: "Work Sans", sans-serif;
}
.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  padding-top: 3%;
  padding-bottom: 3%;
  width: 50%;
}

.input {
  font-size: 30px;
  background-color: whitesmoke;
  margin-top: 10px;
  border: none;
  width: 75%;
  font-family: "Jost", sans-serif;
  font-family: "Work Sans", sans-serif;
}
.green {
  background-color: LimeGreen;
}
.green:hover{
  border: 4px solid salmon;
}
.text {
  font-size: 22px;
}
h1 {
  text-align: center;
  font-size: 40px;
  color: navy;
}
.logout {
  font-size: 30px;
}
.flex{
  display: flex;
  flex-direction: column;
  align-items: center;
}